@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
@import url('https://fonts.googleapis.com/css?family=Crushed');
html
{
    height: 100%;
}
body
{
    background:linear-gradient(#184088,#19325b,#0b1829,#19325b,#184088);
    overflow-x: hidden;
}

.main-content {
    top: 5px;
    padding: 0;
    background: linear-gradient(black, #0e1f3b);
    min-height: 600px;
    text-align: center;
    vertical-align: middle;
    color: white;
    
}


.main-content h1 {
    font-family: 'Crushed', cursive;
    background: linear-gradient(#0b1829, #193561);
    margin: 0 0 30px 0;
}

form {
    background: rgba(0, 21, 33, 1);
    padding: 20px;
    margin-bottom: 100px;
}

form .btn {
    background: #0275d8;
    color: white;
    transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -webkit-transition: all 0.7s ease;
}

form .btn:hover,
form .btn:active {
    cursor: pointer;
    background: rgba(10, 52, 100, 1);
}

.form-control {
    background: rgba(10, 42, 91, 1);
    color: white;
}

.form-control:focus {
    background: rgba(10, 42, 91, 1);
    color: white;
}

label {
    font-family: 'Rajdhani', sans-serif;
    font-size: 15px;
    font-weight: 800;
}

.notif {
    background: #0275d8;
}

.space {
    padding: 20px;
}

.nav-item h5 {
    color: white;
}


.gps-footer {
    font-family: 'Rajdhani', sans-serif;
    font-size: 10px;
    font-weight: 800;
}


