@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
@import url('https://fonts.googleapis.com/css?family=Crushed');
html
{
    height: 100%;
}
body
{
/*    background: linear-gradient(#0b1829, white);*/
    background: #e5e4e3;
    overflow-x: hidden;
}

.main-content {
    top: 5px;
    padding: 0;
    background: #36393a;
    text-align: center;
    vertical-align: middle;
    color: white;
    
}


.main-content h1 {
    font-family: 'Crushed', cursive;
    background: #57aee3;
    margin: 0 0 30px 0;
}

form {
    background: #262623;
    padding: 20px;
    margin-bottom: 100px;
}

form .btn {
    background: #57aee3;
    color: white;
    transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -webkit-transition: all 0.7s ease;
}

form .btn:hover,
form .btn:active {
    cursor: pointer;
    background: #317B93;
}

.form-control {
    background: #57aee3;
    color: white;
}

.form-control:focus {
    background: #317B93;
    color: white;
}

label {
    font-family: 'Rajdhani', sans-serif;
    font-size: 15px;
    font-weight: 800;
}

.notif {
    background: #0275d8;
}

.space {
    padding: 20px;
}

.nav-item h5 {
    color: white;
}


.gps-footer {
    font-family: 'Rajdhani', sans-serif;
    font-size: 10px;
    font-weight: 800;
}


