
ul,li{
	list-style:none;
}

#parts-container{
	width:100%;
	margin:10px auto;
	overflow: auto;
}
.faq
{
    padding: 0px;
}
.faq li{
	padding:10px;
}

.faq li.category{
	background: linear-gradient(#0b1829, #193561);
	font-weight:bold;
	cursor: pointer;
    font-family: Lato;
}

.faq li.sub-category{
    list-style: none;
	padding: 0px;
    margin: 0px;
	display:none;
    
}

.model
{
    background: #193561 !important;
    margin-bottom: 2px; 
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.model-holder
{
    height: 20%;
    width: 100%;
}

.model-holder a 
{
    height: inherit;
    width: inherit;
}
.model-holder a img
{
    height: inherit;
    width: inherit;
}
