@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);


@import url('https://fonts.googleapis.com/css?family=Crushed');

html
{
    height: 100%;
}
body
{
    background:linear-gradient(#184088,#19325b,#0b1829,#19325b,#184088);
    overflow-x: hidden;
}

.main-content {
    top: 5px;
    padding: 0;
    padding-top: 20px;
    background: linear-gradient(black, #0e1f3b);
    vertical-align: middle;
    color: white;
    padding-bottom: 50px;
}

.main-content h1 {
    font-family: 'Crushed', cursive;
    background: linear-gradient(#0b1829, #193561);
    margin: 0 0 30px 0;
    text-align: center;
}

/*Shop Carousel*/
.shop-carousel
{
    margin: 10px;
    margin-top: 20px;
}

.shop-img{
    background-position: top;
    background-size:cover;
    height: inherit;
    width: inherit;
    background-size: cover;
}

.carousel-control-prev
{
    background: linear-gradient(90deg, rgba(1,1,1,1), rgba(1,1,1,0));
}

.carousel-control-next
{
    background: linear-gradient(-90deg, rgba(1,1,1,1), rgba(1,1,1,0));
}
/*Carousel Ends*/
.dock
{
    list-style: none;
    width: 100%;
    background: linear-gradient(-90deg,#0b1829, #193561); 
    height: 48px;
    padding: 0px;
}

.dock li
{
    display: inline;
    float: left;
    padding: 10px 20px;
    background: linear-gradient(90deg,#0b1829, #193561);
    margin: 2px;
    margin-right: 0px;
}

.dock li:hover
{
    border: white 1px solid;
    cursor: pointer;
    
}

.btn {
    background: #0275d8;
    color: white;
    transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -webkit-transition: all 0.7s ease;
    font-variant: small-caps;
}

.btn:hover,
.btn:active {
    cursor: pointer;
    background: rgba(10, 42, 91, 1);
}