@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);


@import url('https://fonts.googleapis.com/css?family=Crushed');

html
{
    height: 100%;
}
body
{
   background:#e5e4e3;
    overflow-x: hidden;
    background-repeat:no-repeat;
}

.main-content {
    top: 5px;
    padding: 0;
    padding-top: 20px;
    background: #36393a;
    vertical-align: middle;
    color: white;
    padding-bottom: 50px;
    margin-bottom: 10px;
}

.main-content h1 {
    font-family: 'Crushed', cursive;
    background: #57aee3;
    margin: 0 0 30px 0;
    text-align: center;
}

/*Shop Carousel*/
.shop-carousel
{
    margin: 10px;
    margin-top: 20px;
}

.shop-img{
    background-position: top;
    background-size:cover;
    height: inherit;
    width: inherit;
    background-size: cover;
}

.carousel-control-prev
{
    background: linear-gradient(90deg, rgba(1,1,1,1), rgba(1,1,1,0));
    background: -webkit-linear-gradient(90deg, rgba(1,1,1,1), rgba(1,1,1,0));
    background: -moz-linear-gradient(90deg, rgba(1,1,1,1), rgba(1,1,1,0));
}

.carousel-control-next
{
    background: linear-gradient(-90deg, rgba(1,1,1,1), rgba(1,1,1,0));
    background: -webkit-linear-gradient(-90deg, rgba(1,1,1,1), rgba(1,1,1,0));
    background: -moz-linear-gradient(-90deg, rgba(1,1,1,1), rgba(1,1,1,0));
}
/*Carousel Ends*/
.dock
{
    list-style: none;
    width: 100%;
    background: #57aee3; 
    height: 48px;
    padding: 0px;
}

.dock li
{
    display: inline;
    float: left;
    padding: 10px 20px;
    background: linear-gradient(90deg,#317B93, #57aee3);
    background: -webkit-linear-gradient(90deg,#317B93, #57aee3);
    background: -moz-linear-gradient(90deg,#317B93, #57aee3);
    margin: 2px;
    margin-right: 0px;
}

.dock li:hover
{
    border: white 1px solid;
    cursor: pointer;
    
}

.btn {
    background: #4d9bb7;
    color: white;
    transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -webkit-transition: all 0.7s ease;
    font-variant: small-caps;
}

.btn:hover,
.btn:active {
    cursor: pointer;
    background: #317B93;
}




#oval1{

	background: #646d73;
    color : white;
	border-radius: 10px;
    padding: 10px;
    
}