body
{
    background-image: url(/assets/images/bkground.jpg);
    background-size: contain;
    background-repeat: repeat-y;
    background-position: center;
}

.main-content
{
    
    text-align: center;
    vertical-align: middle;
    padding: 0;
    color: white;
    background: rgba(0,42, 91, 0.8);
}

.btn1
{
    font-variant: small-caps;
    background: #62a3bf;
    color: aliceblue;
    cursor: pointer;
}

.carousel-inner
{
    background:rgba(0,0,0,0.4);
    padding: 10px;
}

.full-screen {
    background-size: 100% 100%;
    background-position: 0px 0px;
    background-repeat: no-repeat;
}

.banner
{
    padding-bottom: 50px;
    padding-top: 50px;
    font-family: 'Rajdhani', sans-serif;
    border: none;
}

.slogan 
{
    color: white;
}
.intro
{
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
}

/*Shop Listing*/
.featured h1
{
    font-family: 'Crushed', cursive;
    background: #0275d8;
    width: 100%;
    margin-bottom: 30px;
}

.featured
{
    background: #002a5b;
    padding-bottom: 30px;
}

.card
{
    background: #0275d8;
    display: table;
    margin: 2px auto;
}
.card-img-top
{
    height: 200px;
    width: 100%;
}

.card-header
{
    background: rgba(1,1,1,0.7);
    font-size: 25px;
}

.card-block
{
    text-align: center;
}

