
.nav-link
{
    color: white;
}
.cl3
{
    float: right;
}

.navbar
{
    background: linear-gradient(#0b1829, #0e1f3b);
    padding-top, padding-bottom:10px;
    
}

.navbar-brand img
{
    width: auto;
    height: 80px;
}

.nav-right a img
{
    border-radius: 20px;
    transition: height 0.5s;
}

.nav-right a img:hover
{
    height: 53px;
}

.userpic 
{
     height: 60px;
     border-radius: 50%;
}

.username 
{
    display: inline;
    color: white;
    font-size: 20px;
    padding: 10px;
}

.navbottom
{
    
    background: rgb(2, 117, 216);
    padding: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.navbottom-link {
    width: 100px;
    text-align: center;
    transition: background 0.5s;
    border-radius: 72px / 145px;
    font-family: 'Crushed', cursive;
    font-size: 18px;
}

.navbottom-link:hover {
    background:  rgba(0,42, 91, 0.8);
    width: 100px;
    text-align: center;
    color: white;
}

/* Footer */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300);
footer { 
	background: linear-gradient(#0b1829, #0e1f3b);
	min-height:350px; 
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 0;
}

.footerleft { 
	margin-top:50px; 
	padding:0 36px; 
}

.logofooter { 
	margin-bottom:10px; 
	font-size:25px; 
	color:#fff; 
	font-weight:700;
}

.footerleft p { 
	color:#fff; 
	font-size:12px !important; 
	font-family: 'Open Sans', sans-serif; 
	margin-bottom:15px;
}

.footerleft p i { 
	width:20px; 
	color:#999;
}


.paddingtop-bottom {  
	margin-top:50px;
}

.footer-ul { 
	list-style-type:none;  
	padding-left:0px; 
	margin-left:2px;
}

.footer-ul li { 
	line-height:29px; 
	font-size:12px;
}

.footer-ul li a { 
	color:#a0a3a4; 
	transition: color 0.2s linear 0s, background 0.2s linear 0s; 
}

.footer-ul i { 
	margin-right:10px;
}

.footer-ul li a:hover {
	transition: color 0.2s linear 0s, background 0.2s linear 0s; 
	color:#ff670f; 
}

.social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }
 
 .icon-ul { 
 	list-style-type:none !important; 
 	margin:0px; 
 	padding:0px;
 }
 
 .icon-ul li { 
 	line-height:75px; 
 	width:100%; 
 	float:left;
 }
 
 .icon { 
 	float:left; 
 	margin-right:5px;
 }
 
 .copyright { 
    border-top: 1px solid lightblue;
 	min-height:40px; 
 	background-color:#002a5b;
 	margin-bottom: 0;
 }
 
 .copyright p { 
 	text-align:left; 
 	color:#FFF; 
 	padding:10px 0; 
 	margin-bottom:0px;
 }
 
 .heading7 { 
 	font-size:21px; 
 	font-weight:700; 
 	color:#d9d6d6; 
 	margin-bottom:22px;
 }
 
.post p { 
 	font-size:12px; 
 	color:#FFF; 
 	line-height:20px;
}
 
 .post p span { 
	display:block; 
 	color:#8f8f8f;
}
 
.bottom_ul { 
	list-style-type:none; 
	float:right; 
	margin-bottom:0;
}

.bottom_ul li { 
	float:left; 
	line-height:40px;
}

.bottom_ul li:after { 
	content:"/"; 
	color:#FFF; 
	margin-right:8px; 
	margin-left:8px;
}

.bottom_ul li a { 
	color:#FFF;  
	font-size:12px;
}

.navbottom-right a, .navbottom-left a{
    background: #002a5b;
    text-decoration: none;
    color: white !important;
    margin: 0px;
    padding: 8px;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: background 0.5s;
}

.navbottom-right a:hover, .navbottom-left a:hover{
    background: #4dd0e1;
}

.userIcon
{
    display: none;
}

.userIcon-active
{
    display: inline;
}

