
.user
{
    background: rgba(0,0,0,0.5);
}

.user-head
{
    color: white;
    text-align: center;
    font-family: arial;
}

.user-head button
{
    color: white;
}
.user-body
{
    background: rgba(0,0,0,0);
}

.userform{
    background: rgba(0,0,0,0);
    margin-bottom: 20px;
}

.userlabel
{
    color: white;
}

.userinput
{
    background: white;
    color: black;
}

.upbtn{
    background: #0275d8;
    color: white;
    transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -webkit-transition: all 0.7s ease;
}

.upbtn:hover,
.upbtn:active {
    cursor: pointer;
    background: rgba(10, 52, 100, 1);
}